<head>
    <title>validar input</title>
</head>
<body>
 <div class="login-box">
    <img class="avatar" src="assets/descarga.jpg"alt ="Logo">
   
    <h1>Iniciar Sesion </h1>
    <form [formGroup]="formGroup">
      
        <button class="btn btn-primary btn-ingresa m-2"(click)="ingrese()">Ingrese </button>
        <h6>Identifíquese usando: </h6>
        <button class="btn btn-info btn-google m-2"(click)="IngreseConGoogle()">Ingrese con Google</button>
    </form>
   
    <A href="#">Olvide mi contraseña</A>
</div>
</body>